body {
    background-color: #e6e6e6;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    margin: 0 auto;
    max-width: 1270px;
    background-color: white;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.category-thumbs {
    display: flex;
    justify-content: space-around;
    padding: 8px;
    background-color: white;
    background-color: #fafafa;
    border-bottom: 1px solid #e6e6e6;
}
.category-thumb {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin: 0;
    max-width: none;
    overflow: hidden;
    width: 100%;
}

.category-thumb-image {
    height: 88px;
    width: 88px;
    box-shadow: 3px 2px 5px 0 #c2c2c2;
    border-radius: 50%;
    float: none;
    margin-right: 0;
}

.feed-slider {
    display: flex;
}

.feed-thumb {
    margin: 0 6px 10px;
    padding: 5px;
    background-color: #fff;
    border: solid 1px #dbdbda;
    border-radius: 5px;
    display: inline-block;
    position: relative;
    white-space: pre;
    width: 200px;
    display: flex;
    justify-content: space-between;
}

.feed-follow-div {
    float: right;
}

.feed-follow {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    height: 65px;
    width: 96px;
    background-color: #ff7e1a;
    color: #fff;
    margin: auto;
    text-align: center;
    white-space: normal;
}

.feed-title {
    font-weight: 500;
    margin: auto;
    text-align: center;
    white-space: normal;
}
.article-section {
    display: flex;
    flex-flow: row wrap;
}

.fixed-article-card {
    border: 1px solid #e6e6e6;
    display: block;
    height: 250px;
    padding: 0;
    width: 250px;
    background-color: #fff;
    margin-right: 5px;
    margin-bottom: 5px;
}

.fixed-article-card-title {
    display: flex;
    justify-content: center;
    color: #4d4d4d;
    line-height: 18px;
    padding: 20px;
}

.fixed-article-card-description {
    font-size: 14px;
    font-size: .875rem;
    clear: both;
    color: #7f7f7f;
    max-height: 57px;
    padding: 0 10px;
    width: 100%;
}

.article-title, .feed-title {
    text-align: center;
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-family: DauphinPlain;
    font-size: 50px;
    line-height: 90px;
}

.article-box {
    clear: both;
    margin: 10px 3%;
}

.article-footer {
    display: flex;
    justify-content: flex-end;
    font-style: italic;
}