@model List<FeedReader.Repository.Model.Article>

@if (Model != null && Model.Count > 0)
{
    <div class="article-section">
        @foreach (var article in Model)
        {
            <div class="fixed-article-card">
                <a href="@Url.Action("Article", "Home", new { articleId = article.Id })" class="fixed-article-card-title">@article.Title</a>
                <div class="fixed-article-card-description">
                        Maecenas convallis massa condimentum ipsum imperdiet, vel blandit nunc tincidunt. Duis molestie orci quis arcu laoreet feugiat. Fusce elit purus, congue ac diam commodo, accumsan venenatis tellus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer vehicula varius arcu nec faucibus. In ullamcorper neque elit.
                </div>
            </div>
        }
    </div>
}