@model List<FeedReader.Repository.Model.Feed>

@if (Model != null && Model.Count > 0)
{
    <div class="feed-slider">
        @foreach (var feed in Model)
        {
        <div class="feed-thumb">
            <a href="@Url.Action("Feed", "Home", new { feedId = feed.Id })">@feed.Name</a>
        </div>
        }
    </div>
}