@model FeedReader.Web.Models.CategoryDashboard

@{
    ViewBag.Title = Model.Category.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<img src="@Model.Category.Image" class="category-image" />
<div class="category-name">@Model.Category.Name</div>

@Html.Partial("_FeedsSection", Model.Category.Feeds.ToList())

@Html.Partial("_ArticlesSection", Model.Articles)