@model FeedReader.Web.Models.Dashboard
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Feed Reader</h1>
</div>

<div class="row">
    @foreach (var category in Model.Categories)
    {
        <div class="col-md-4">
            <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">
                @category.Name
            </a>
        </div>
    }
</div>
<div class="row">
    @foreach (var feed in Model.Feeds)
    {
        <div class="col-md-4">
            <p>
                <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">
                    @feed.Name
                </a>
            </p>
        </div>
    }
</div>
<div class="article-section">
    @foreach (var article in Model.Articles)
    {
        <div class="fixed-article-card">
            <h3 class="fixed-article-card-title">
                @article.Title
            </h3>
            <div class="fixed-article-card-description">
                @article.Body
            </div>
        </div>
    }
</div>